@charset "utf-8";

body{
    font-family: sans-serif;
    margin: 0;
}
.container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
    justify-content: center;
   align-items: center;
    height: 400px;
    width: 500px;
    background-image: url(image/landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    filter: grayscale(0.5);
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper::before{
    content: '';
    position: absolute;
    height:100px;
    width: 100px;
    display: block;
    border: 1px dotted white;
    opacity: 0;
    transition: 1s;
}
.card-wrapper h2{
    background-image: linear-gradient(to bottom, rgb(23, 144, 138),white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0%;
    transition: 0.3s;
    
    
}
.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.card:hover{
    filter: unset;
}
.card:hover > .card-wrapper::before{
    height: 300px;
    width: 400px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
    
}

.checkbox{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.checkbox .trace{
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition:0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 15px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 25px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 35px;
    transform: rotate(0);
}
#toggle{
    display: none;
}
#toggle:checked + .checkbox .trace:nth-child(1){
    transform:rotate(45deg);
    top: 25px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
    transform:rotate(-45deg);
    top:25px
}
